<div class="container mt-5 select-bar">
  <form action="/" method="POST" class="form-group col-8 mx-auto">
    <select name="sortType" class="form-control btn-outline-secondary" id='sortType' onchange="this.form.submit()"
      style="cursor: pointer;">
      <option class="placeholder" value="default" {{#if init}}selected{{/if}}>類別</option>
      {{#each categories }}
      <option value="{{this.category_en}}" {{#if (match ../sortType this.category_en)}}selected{{/if}}>{{this.category}}
      </option>
      {{/each}}
    </select>
  </form>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="error-msg">
        <h1><i class="fas fa-exclamation-triangle mr-1"></i> Ops! There is no searching results!</h1>
      </div>
    </div>
  </div>
</div>