html, body {
  height:100%;
  overflow:auto;
  margin: 0;
}

html{
  overflow-y:scroll;
}

header {
  overflow: hidden;
}

body {
  font-family: 'Noto Sans TC', Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(200, 253, 255);
}

.total-amount {
  font-size: 72px;
  color: gold;
}

.amount {
  font-size: 36px;
}

.price-zone {
  background-color: #996866;
  max-width: 920px;
}

.reset-link {
  text-decoration: none;
}

.reset-link:link {
  color: inherit;
  text-decoration: none;
}

.fa-home {
  color: rgb(247, 170, 183);
}

.fa-shuttle-van {
  color: rgb(243, 151, 13);
}

.fa-grin-beam {
  color: rgb(203, 121, 206);
}

.fa-utensils {
  color:rgb(223, 88, 88);
}

.fa-pen {
  color:rgb(212, 192, 74);
}

.collapse {
  border: 1px solid rgb(41, 41, 41);
}

.collapse .card-header {
  background-color: #759fe4;
  color:white;
}

.collapse .card-body {
  background-color: rgb(225, 247, 255);
  color: rgb(47, 116, 219);
}

.collapse .detail > .list-group-item {
  background-color: rgb(225, 247, 255);
}

.collapse .detail > .input-group-prepend .form-control {
  background-color: white;
}

.color-gold {
  color: gold;
}